<launch>
  
  <arg name="input_topic"             default="input"/>
  <arg name="output_topic"            default="output"/>
  <arg name="transform_x"             default="0.0"/>
  <arg name="transform_y"             default="-1.0"/>
  <arg name="transform_z"             default="0.0"/>
  <arg name="transform_roll"          default="0.0"/>
  <arg name="transform_pitch"         default="0.0"/>
  <arg name="transform_yaw"           default="0.0"/>

  <!-- <node pkg="nodelet" type="nodelet" name="$(arg ns)pcl_manager" args="manager" output="screen"/> -->
  <node pkg="nodelet" type="nodelet" name="pcl_transformer_nodelet" args="standalone pcl_ros_toolbox/PclTransformer" output="screen" respawn="true">
    <remap from="~input"           to="$(arg input_topic)" />
    <remap from="~output"          to="$(arg output_topic)" />
    <!-- <param name="transform"       value="$(arg transform)" /> -->
    <param name="transform_x"     value="$(arg transform_x)"/>
    <param name="transform_y"     value="$(arg transform_y)"/>
    <param name="transform_z"     value="$(arg transform_z)"/>
    <param name="transform_roll"  value="$(arg transform_roll)"/>
    <param name="transform_pitch" value="$(arg transform_pitch)"/>
    <param name="transform_yaw"   value="$(arg transform_yaw)"/>
	</node>
  
</launch>